<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712916505831-6s10r85nodjvij241h5u9djknbtj1etq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712916505831-6s10r85nodjvij241h5u9djknbtj1etq</string>
	<key>API_KEY</key>
	<string>AIzaSyCqUrJ3_m6hzWwBfF-s_rw9xVkJFHfK7yo</string>
	<key>GCM_SENDER_ID</key>
	<string>712916505831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.iu.jarrwhit.DoToDo</string>
	<key>PROJECT_ID</key>
	<string>fa21-jarrwhit-class-dotodo</string>
	<key>STORAGE_BUCKET</key>
	<string>fa21-jarrwhit-class-dotodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712916505831:ios:7dd400869ed50c166fbe42</string>
</dict>
</plist>